<header>
    <h4>Designation Form</h4>
</header>

<form>
    <div class="input-wrapper">
        <label>Name</label>
        <input type="text" placeholder="Enter employee name">
        <small></small>
    </div>

    <div class="input-wrapper">
        <label>Age</label>
        <input type="text" placeholder="Enter employee name">
        <small></small>
    </div>

    <div class="button-wrapper">
        <button>Submit</button>
        <a routerLink="/designations">Cancel</a>
    </div>
</form>